html{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}
body{
    min-width: 100%;
    min-height: 100%;
    color:#0068C4;
    text-align:center;
    font-family: 'sans-serif';
    font-weight: 700;
    overflow: hidden;
}

div{
    width: 300px;
    height: 100px;
    margin: 0px auto;
    text-align:center;
    font-family: 'sans-serif';
    font-weight: 700;
}

#buttons{
    margin-top:30px;
}
#buttons img{
    cursor: pointer;
}
.alert{
    display: none;
}