body{
    min-width: 100%;
    min-height: 100%;
}
div{
    width: 300px;
    height: 100px;
    margin: 0px auto;
    text-align:center;
    color:#0068C4;
    font-family: 'sans-serif';
    font-weight: 700;
}

#buttons{
    margin-top:30px;
}