<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://pre-static.istudentapp.ru/styles/reset.css"/>

    <title>Добро пожаловать!</title>
</head>
<body>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
Привет!


</body>
</html>